input, button, submit { border:none; } 
 
 button,
 [type="button"],
 [type="reset"],
 [type="submit"] {
   -webkit-appearance: button;
 }

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Comfortaa", cursive;
}

body {
  background: rgb(238, 75, 55);
  background: no-repeat
    linear-gradient(
      306deg,
      rgba(238, 75, 55, 1) 38%,
      rgba(255, 226, 112, 1) 100%
    );
}


img {
  width: 100%;
}
